
search_engine_parser
ffmpeg
ujson
tgcrypto
asyncio
py-tgcalls
pyrogram==1.4.16
aiohttp
aiofiles
asyncio
dnspython
ffmpeg-python
future
motor
pillow
psutil
python-dotenv
requests
wget
youtube-search
youtube-search-python
